
@media (max-width: 768px) {

    .row .btn {
        display: block;
        width: 100%;
    }
}

@media (min-width: 768px){
    #login {
        margin-left: auto;
        margin-right: auto;
    }
}

.input-group {
    margin: 10px;
}

#switchUserAdmin {
    margin: 0;
}

a {
  font-size: 20px;
  color: #6610f2;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:#D9D9D9;
    height: 1px;
}

#background {
    background-image: url("pictures/pewekeypic.png");
    width: 100%;
    height: 100%;
}

.btn-custom {
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#admin-div, #user-div {
    display: none;
    background-color: #FFF;
}

.list_content {
  margin-left: auto;
  margin-right: auto;
}
